
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
SITE_URL=http://127.0.0.1:8000


CSRF_TRUSTED_ORIGINS=

SECURE_SSL_REDIRECT=True

STUDIO_NOTIFICATION_EMAIL=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
